{
  "extends": ["airbnb/base", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "class-methods-use-this": "off",
    "comma-dangle": ["error", "never"]
  }
}
